.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.env.development
.env.production
.env.staging
# 可自己添加.env.development存储VUE_APP_BASE_API = '/api' 以及VUE_APP_SECRET_ID、VUE_APP_SECRET_KEY（COS使用）
